/* side bar */
#side_bar{
    width: 15%;
    height: 90vh;
    background-color: blue;
}

/* effettua l'upgrade */
.upgrade{
    width: 85%;
    height: 10vh;
    background-color: rgba(144, 144, 144, 0.5);
    right: 0;
    z-index: 1;
}

/* main content */
#main_content{
    width: 85%;
    height: 90vh;
    right: 0;
    background-color: pink;
    overflow: auto;
}

/* footer bar */
#footer_bar{
    width: 100vw;
    height: 10vh;
    background-color: red;
}