/* side bar */
#side_bar{
    width: 50px;
    height: calc(100% - 70px);
    background-color: black;
    color: #707070;
    font-size: 13px;
    overflow: auto;
}

.logo_spotify > img{
    max-width: 35px;
}

.comandi_sidebar > img{
    max-width: 30px
}

.nuova_playlist > i{
    visibility: hidden;
}

.download_app > img{
    width: 20px;
}

.profilo > div{
    background-color: grey;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.profilo > div > img{
    max-height: 100%;    
    max-width: 100%;
    border-radius: 50%;
}

.crea_playlist{
    line-height: 30px;
}

.sidebar_maggiore_xs{
    display: none;
}

.sidebar_hover:hover{
    color: white;
    cursor: pointer;
}

/* media query per schermi >= 576px ossia da small in su */
@media all and (min-width: 576px){
    #side_bar{
        width: 200px;
    }

    .sidebar_maggiore_xs{
        display: inline-block;
    }

    .sidebar_minore_xs{
        display: none;
    }

    .download_app{
        border-bottom: 1px solid #707070;
    }

    .nuova_playlist{
        width: 30px;
        height: 30px;
        background-color: #707070;
    }

    .nuova_playlist > i{
        visibility: visible;
    }

    .new_playlist:hover .nuova_playlist{
        background-color: white;
    }

    .download_app > img{
        max-width: 7%;
    }

    .comandi_sidebar > img{
        max-width: 10%
    }

    .logo_spotify > img{
        max-width: 70%;
    }

    .home_btn{
        border-left: 3px solid #9fea2b;
    }
}

/* effettua l'upgrade */
.upgrade{
    width: calc(100% - 50px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    z-index: 1;
}

@media all and (min-width: 576px){
    .upgrade{
        width: calc(100% - 200px);
    }
}

.upgrade > button{
    border-radius: 100px;
    font-size: 13px;
    padding: 10px 30px;
}

.upgrade > button:hover{
    background: none;
    color: white;
    font-size: 15px;
}

/* main content */
#main_content{
    width: calc(100% - 50px);
    height: calc(100% - 70px);
    right: 0;
    background-color: #141922;
    overflow: auto;
}

@media all and (min-width: 576px){
    #main_content{
        width: calc(100% - 200px);
    }
}

/* footer bar */
#footer_bar{
    width: 100%;
    height: 70px;
    background-color: #282828;
}

#footer_bar > .row{
    height: 100%;
}

#footer_bar > .row > div{
    height: 100%;
    color: #707070;
}

/* prima colonna */
#footer_bar > .row > div > img{
    width: 15%;
}

.brano_in_corso > div > span{
    line-height: 13px;
    font-size: 13px;
}

.cuore_cartella > span{
    display: block;
    /* padding-left: 30px; */
    padding-left: 20%;
    line-height: 20px;
}

.brano_nome:hover{
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.cuore_c:hover, .cartella_c:hover{
    color: white;
    cursor: pointer;
}

@media all and (min-width: 768px){
    .cuore_cartella > span{
        display: inline-block;
    }

    .cuore_cartella > span:first-child{
        padding-left: 20px;
    }
    .cuore_cartella > span:nth-child(2){
        padding-left: 5px;
    }
}

/* seconda colonna */
.seconda_colonna_footer > div > i{
    font-size: 15px;
}

.far.fa-play-circle.mr-3{
    font-size: 25px;
}

.far.fa-play-circle.mr-3:hover{
    font-size: 28px;
}

#footer_bar > div > div:nth-child(2) > div:nth-child(2){
    width: 100%;
    font-size: 12px;
}

.tempo_s{
    width: 100%;
    height: 4px;
    background-color: #707070;
    border-radius: 20px;
}

.tempo_att_s{
    width: 25%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.pallino_t_s{
    width: 12px;
    height: 12px;
    background-color: white;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: none;
}

.tempo_s:hover .pallino_t_s{
    display: block;
}

.tempo_s:hover .tempo_att_s{
    background-color: #9fea2b;
}

/* terza colonna */
.terza_colonna_footer{
    font-size: 13px;
}

.terza_colonna_footer > div{
    width: 100px;
    height: 4px;
    background-color: #707070;
    border-radius: 20px;
}

.terza_colonna_footer > div > span{
    width: 25%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
}

.terza_colonna_footer > div > div{
    width: 12px;
    height: 12px;
    background-color: white;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: none;
}

.volume_s:hover .pallino_s{
    display: block;
}

.volume_s:hover .volume_att_s{
    background-color: #9fea2b;
}