/* side bar */
#side_bar{
    width: 15%;
    height: 90vh;
    background-color: blue;
}

/* main content */
#main_content{
    height: 1000px;
}

.upgrade{
    width: 85%;
    height: 10vh;
    background-color: green;
    right: 0;
}

/* footer bar */
#footer_bar{
    width: 100vw;
    height: 10vh;
    background-color: red;
}